// About Page
.about-card {
  border-width: 0px !important;
  background-image: linear-gradient(to bottom, darken($blue, 50%), darken($blue, 45%));
}

.about-img {
  background: rgba($blue, 0.001);
  border-width: 0px;
  &__img {
    border-radius: 320px;
    width: 40%;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-me {
  background-color: lighten($dark-gray, 0.2%);
  border-radius: 6px;
  &__title {
    color: lighten($yellow, 5%);
    font-size: 32px;
  }
  
  &__text {
    color: $rose;
    margin-left: auto;
    margin-right: auto;
  }
}

.skills {
  background-image: linear-gradient(to bottom, lighten($dark-gray, 1.4%), lighten($dark-gray, 2.4%));
  margin: auto;
  margin-bottom: 1.5rem;
  width: 90%;
  &__title {
    font-size: 24px;
    color: darken($rose, 4%);
  }
  
  &__list {
    font-size: 18px;
    color: lighten($blue, 26%);
    margin-left: 50px;
    margin-top: 12px;
  }
}

.tools {
  background-image: linear-gradient(to bottom, darken($blue, 43%), darken($blue, 40%));
  margin: auto;
  width: 90%;
  &__title {
    text-shadow: 1px 1px darken($blue, 50%);
    font-size: 24px;
    font-weight: bold;
    color: darken($blue, 10%);
  }
  
  &__list {
    font-size: 18px;
    color: lighten($rose, 2%);
    list-style-type: square;
    margin-left: 50px;
    margin-top: 12px;
    & a {
      color: darken($blue, 10%);
      text-decoration: underline;
      transition: color 0.5s ease;
      &:hover {
        color: lighten($blue, 5%);
      }
    }
  }
}

