// About Page
.about-row {
  justify-content: center !important;
}

.about-break {
  margin-bottom: 2rem;
  border-width: 1px;
  border-color: lighten($blue, 28%);
}

.skills-header {
  font-family: $Josefin;
  color: lighten($yellow, 8%);
}

.about-me {
  background: transparent;

  &__title {
    font-family: $Josefin;
    color: lighten($yellow, 8%);
    font-size: 32px;
  }
  
  &__text {
    font-size: 18px;
    color: $rose;
    margin-left: auto;
    margin-right: auto;
  }
}

// Skills
.frontend {
  background-image: linear-gradient(to bottom, darken($blue, 47%), darken($blue, 45%));
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  border-radius: 16px;
  border-top-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-top-color: darken($blue, 42%);
  border-left-color: darken($blue, 42%);
  border-right-color: darken($blue, 43%);
  border-bottom-color: darken($blue, 44%);

  &__title {
    background: darken($blue, 42%);
    font-family: $Josefin;
    font-size: 22px;
    color: white;
  }
  
  &__list {
    font-family: 'Consolas', monaco, monospace;
    font-size: 18px;
    color: lighten($blue, 40%);
    margin-left: 24px;
    margin-top: 12px;
  }
}

.backend {
  background-image: linear-gradient(to bottom, darken($blue, 47%), darken($blue, 45%));
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  border-radius: 16px;
  border-top-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-top-color: darken($blue, 42%);
  border-left-color: darken($blue, 42%);
  border-right-color: darken($blue, 43%);
  border-bottom-color: darken($blue, 44%);

  &__title {
    background: darken($blue, 42%);
    font-family: $Josefin;
    font-size: 22px;
    color: white;
  }
  
  &__list {
    font-family: 'Consolas', monaco, monospace;
    font-size: 18px;
    color: lighten($blue, 40%);
    margin-left: 24px;
    margin-top: 12px;
  }
}

.tools, .frameworks {
  background-image: linear-gradient(to bottom, darken($rose, 81%), darken($rose, 80%));
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  border-top-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-top-color: darken($rose, 74%);
  border-left-color: darken($rose, 74%);
  border-right-color: darken($rose, 75%);
  border-bottom-color: darken($rose, 76%);

  &__title {
    background: darken($rose, 74%);
    font-family: $Josefin;
    font-size: 22px;
    color: white;
  }
  
  &__list {
    font-size: 18px;
    color: lighten($rose, 4%);
    list-style-type: square;
    margin-left: 50px;
    margin-top: 4px;
  }
}