.container#content {
  margin-top: 60px;
}
body {
  background-color: $dark-gray;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: $Lato;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: darken($blue, 40%);
  line-height: 1;
  color: $rose;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: $blue;
  transition: color 0.5s ease;
  &:hover {
    color: lighten($blue, 30%);
  }
}

ul {
  list-style: none;
  padding: 0;
}
