.container#content {
  margin-top: 60px;
  //width: 100%;
}

a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

body {
  font-family: $Lato;
  background-image: linear-gradient(to bottom, $dark-gray, lighten($dark-gray, 0.5%));
}

h1 {
  //margin-bottom: 20px;
  text-align: center;
}

.navbar {
  background: rgba(darken($blue, 39%), 0.92);
  background: rgba($dark-gray, 0.88);
  line-height: 1;
  color: $rose;
  //width: 100%;
  //width: 100vw;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: $blue;
  transition: color 0.5s ease-in-out, all 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 1.25rem;
  &:hover {
    color: lighten($blue, 30%);
    transform: scale(1.075);
  }
}

.dev-brand {
  color: lighten($blue, 42%) !important;
  transition: color 0.5s ease-in-out, all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: white !important;
    transform: scale(1.075);
  }
}

.brand-img {
  width: 1.2rem;
  margin-right: 8px;
  margin-bottom: 4px;
}

ul {
  list-style: none;
  padding: 0;
}