.container#content {
  margin-top: 60px;
}
body {
  background-color: $dark-gray;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: $Lato;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background: rgba(darken($blue, 39%), 0.92);
  line-height: 1;
  color: $rose;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: $blue;
  transition: color 0.5s ease-in-out, all 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 1.25rem;
  &:hover {
    color: lighten($blue, 30%);
    transform: scale(1.075);
  }
}

.dev-brand {
  color: lighten($blue, 42%) !important;
  transition: color 0.5s ease-in-out, all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: white !important;
    transform: scale(1.075);
  }
}

.brand-img {
  width: 1.2rem;
  margin-right: 8px;
  margin-bottom: 4px;
}

ul {
  list-style: none;
  padding: 0;
}

.blog-link {
  //margin-left: 4rem;
  &::after{
    margin-left: 0px !important;
  }
}