// Blog Page
.post-card {
  border-width: 0;

  &__body {
    background-color: lighten($dark-gray, 1%);
  }
  
  &__post-links{
    color: $blue;
  }

  &__info {
    color: $yellow;
  }

  &__text {
    color: $rose;
  }
}

.btn-outline {
  color: $blue;
  border-color: $blue;
  border-radius: 2px;
}

.btn-outline:hover {
  border-color: $blue;
  background-color: $blue;
  color: white;
}

// Code Snippets on blog posts
pre {
  padding: 1.5rem;
  color: lighten($blue, 24%);
  border-style: double;
  border-left-width: 4px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: lighten($blue, 24%);
  display: block;
  background: darken($blue, 46%);
}

.alert--error, .alert--warning {
  p
  {color: white !important;}
}
#error {
  color: white !important;
}