// Blog Front Page
.post-card {
  border-width: 0;

  &__body {
    background-color: lighten($dark-gray, 1%);
  }
  
  &__post-links {
    color: $blue;
  }

  &__info {
    color: $yellow;
  }

  &__text {
    color: $rose;
  }
}

.blog-page-header {
  font-family: $Gugi;
  color: $rose;
}

.read-more-btn {
  color: $blue;
  border-color: $blue;
  background: transparent;
  border-radius: 2px;
  transition: color 0.5s ease-in-out, all 0.3s ease-in-out;
  &:hover {
    border-color: $blue;
    background-color: $blue;
    color: white
  }
}

.alert--error, .alert--warning {
  p
  {color: white !important;}
}
#error {
  color: white !important;
}