// Contact Page
.contact-container {
  //background-color: $dark-gray;
  //margin-top: 23rem;
}

.contact-card {
  /*background: linear-gradient(
    to bottom, 
    rgba(darken($blue, 42%), 0.8), 
    rgba(darken($blue, 41%), 0.8)
  );*/
  background: rgba($blue, 0.001);

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: darken($rose, 12%);
  }

  &__subtitle {
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  &__name {
    display: block;
    margin: 0 auto;
    background-color: darken(white, 4%);
  }
  
  &__email {
    display: block;
    margin: 1.25rem auto;
    background-color: darken(white, 4%);
  }

  &__message {
    justify-content: center;
    display: block;
    margin: 2rem auto;
  }

  &__send-message {
    justify-content: center;
    display: block;
    margin: 1rem auto;
    border-color: $blue !important;
  }

  & textarea {
    background-color: darken(white, 4%);
  }
}

.follow-card {
  background-image: linear-gradient(to bottom, lighten($dark-gray, 3%), lighten($dark-gray, 6.2%));

  &__title {
    font-weight: bold;
    font-size: 2rem;
    color: darken($blue, 4%);
  }
}