// Contact Form
.contact-container {
  padding-top: 4rem;
}

.contact-card {
  background: transparent;
  border-width: 0;
  
  &__title {
    font-family: $Josefin;
    font-size: 2rem;
    color: darken($rose, 3%);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lighten($blue, 30%);
    width: 50%;
    margin: 1em auto 1em;
  }

  &__body {
    margin: auto;
    width: 100% !important;
  }

  &__name {
    display: block;
    margin: 1rem auto 1rem;
    padding: 8px;
    background: darken($dark-gray, 0.6%);
    color: lighten($blue, 30%);
    border-color: $blue;
    border-radius: 4px;
    font-family: $Neucha;
    font-size: 1.5rem;
    width: 50%;
    &::placeholder {
      color: darken($blue, 10%);
    }
  }
  
  &__email {
    display: block;
    margin: 1rem auto 1rem;
    padding: 8px;
    background: darken($dark-gray, 0.6%);
    color: lighten($blue, 30%);
    border-color: $blue;
    border-radius: 4px;
    font-family: $Neucha;
    font-size: 1.5rem;
    width: 50%;
    &::placeholder {
      color: darken($blue, 10%);
    }
  }

  &__send-message {
    font-family: $Josefin;
    justify-content: center;
    display: block;
    margin: 1rem auto;
    font-size: 1.25rem;
    border-color: darken($rose, 10%) !important;
    border-width: 2px;
    color: white;
    transition: all ease 0.3s;
    &:hover{
      color: white;
      background-color: darken($rose, 10%);
    }
  }

  & textarea {
    background: darken($dark-gray, 0.6%);
    color: lighten($blue, 30%);
    border-color: $blue;
    border-radius: 4px;
    justify-content: center;
    display: block;
    margin: 2rem auto;
    padding: 12px;
    font-family: $Neucha;
    font-size: 1.75rem;
    width: 100%;
  }

  & textarea::placeholder {
    color: darken($blue, 10%);
  }
}