.site-footer {
  //background-color: darken($blue, 40%);
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $yellow;
          transition: color 0.5s ease;
          &.github:hover {
            color: $git-violet;
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.reddit:hover {
            color: #ff4500;
          }
        }
      }
    }
  }
}
