// Projects Page
.container-card {
  background: linear-gradient(
    to bottom, 
    rgba(lighten($dark-gray, 1%), 0.99), 
    rgba(lighten($dark-gray, 1.5%), 0.99)
  );
}

.projVideo {
  height: 100% !important;
}

.proj-video {
  border-width: 0px;
  margin: 1rem;
  height: 60%;
}

.proj-desc-a {
  background-image: linear-gradient(to bottom, darken($blue, 50%), darken($blue, 45%));
  border-radius: 0px;
  margin: 1rem;

  &__title {
    font-weight: bold;
    font-size: 2rem;
    color: $blue;
  }

  &__subtitle {
    color: lighten($yellow, 4%);
    font-size: 1.25rem;
  }
  
  &__list {
    color: lighten($blue, 40%);
    margin-left: 10px;
  }

  &__button-link {
    color: white;
    &:hover{
      color: white;
    }
  }

  &__demo-button {
    background-color: darken($blue, 45.5%);
    border-color: $blue;
    margin: 12px;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($blue, 10%);
      transform: scale(1.2);
    }
  }

  &__git-button {
    background-color: darken($blue, 45.5%);
    border-color: $git-violet;
    margin: 12px;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($git-violet, 10%);
      transform: scale(1.2);
    }
  }
  
  &__code-icon {
    margin-right: 8px;
  }
}

.proj-desc-b {
  background-image: linear-gradient(to bottom, lighten($dark-gray, 2.5%), lighten($dark-gray, 4%));
  border-radius: 0px;
  border-width: 0px;
  margin: 1rem;

  &__title {
    font-weight: bold;
    font-size: 2rem;
    color: darken($rose, 2%);
    text-shadow: 2px 2px darken($blue, 40%);
  }

  &__subtitle {
    color: lighten($yellow, 4%);
    font-size: 1.25rem;
  }
  
  &__list {
    color: lighten($rose, 6%);
    margin-left: 10px;
  }

  &__button-link {
    color: white;
    &:hover{
      color: white;
    }
  }

  &__demo-button {
    background-color: lighten($dark-gray, 4.75%);
    border-color: $blue;
    margin: 12px;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($blue, 10%);
      transform: scale(1.2);
    }
  }

  &__git-button {
    background-color: lighten($dark-gray, 4.75%);
    border-color: $git-violet;
    margin: 12px;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($git-violet, 10%);
      transform: scale(1.2);
    }
  }
  
  &__code-icon {
    margin-right: 8px;
  }
}