// Projects Page
.proj-header {
  margin: 2rem auto 2rem;
  color: $rose;
}

.proj-gif {
  margin: 2rem auto 2rem;
  border-width: 0px;
  background: transparent;
}

.proj-break {
  margin: 2rem auto 2rem;
  border-width: 1px;
  border-color: lighten($rose, 6%);
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.proj-desc-a {
  margin: 2rem auto 2rem;
  background-image: linear-gradient(to bottom, darken($blue, 42%), darken($blue, 37%));
  border-radius: 6px;

  &__title {
    font-family: $Josefin;
    font-weight: bold;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, darken($blue, 42%), darken($blue, 37%));
    padding: 6px;
  }

  &__subtitle {
    color: lighten($yellow, 4%);
    font-size: 1.25rem;
  }
  
  &__list {
    color: lighten($blue, 40%);
    margin-left: 16px;
    & li {
      list-style-type: square;
    }
  }

  &__button-link {
    color: white;
    &:hover{
      color: white;
    }
  }

  &__demo-button {
    font-family: $Josefin;
    background: transparent;
    border-color: $blue;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($blue, 10%);
      transform: scale(1.05);
    }
  }

  &__git-button {
    font-family: $Josefin;
    background: transparent;
    border-color: $git-violet;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($git-violet, 10%);
      transform: scale(1.05);
    }
  }
  
  &__code-icon {
    margin-right: 8px;
  }
}

.proj-desc-b {
  margin: 2rem auto 2rem;
  background-image: linear-gradient(to bottom, lighten($dark-gray, 5.5%), lighten($dark-gray, 1.75%));
  border-radius: 0px;
  border-width: 0px;

  &__title {
    background-image: linear-gradient(to bottom, lighten($dark-gray, 5.5%), lighten($dark-gray, 1.75%));
    padding: 6px;
    font-family: $Josefin;
    font-weight: bold;
    font-size: 2rem;
  }

  &__subtitle {
    color: lighten($yellow, 4%);
    font-size: 1.25rem;
  }
  
  &__list {
    color: lighten($rose, 6%);
    margin-left: 16px;
    & li {
      list-style-type: square;
    }
  }

  &__button-link {
    color: white;
    &:hover{
      color: white;
    }
  }

  &__demo-button {
    font-family: $Josefin;
    background: transparent;
    border-color: $blue;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($blue, 10%);
      transform: scale(1.2);
    }
  }

  &__git-button {
    font-family: $Josefin;
    background: transparent;
    border-color: $git-violet;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($git-violet, 10%);
      transform: scale(1.2);
    }
  }
  
  &__code-icon {
    margin-right: 8px;
  }
}