// Projects Page
.proj-header {
  margin: 2rem auto 2rem;
  color: $rose;
}

// --- In production ---

.project-items-a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid darken($rose, 19%);
  border-radius: 10px;
  margin: 20px auto;
  flex-direction: column;

  &__img {
    border-bottom: 5px solid black;
    transition: all 0.3s;
  }

  &__link {
    font-size: 2rem;
    padding: 5px;
    background-color: darken($rose, 15%);
    width: 100%;
    text-align: center;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: darken($rose, 10%);
    }
  }

  &__icon {
    margin-left: 12px;
  }

  &__break {
    border-width: 4px;
    border-color: darken($rose, 18%);
    width: 100%;
    margin: 0;
  }

}

.project-items-b {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid darken($blue, 19%);
  border-radius: 10px;
  margin: 20px auto;
  flex-direction: column;

  &__img {
    border-bottom: 5px solid black;
    transition: all 0.3s;
  }

  &__link {
    font-size: 2rem;
    padding: 5px;
    background-color: darken($blue, 15%);
    width: 100%;
    text-align: center;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: darken($blue, 10%);
    }
  }

  &__icon {
    margin-left: 12px;
  }

  &__break {
    border-width: 4px;
    border-color: darken($blue, 18%);
    width: 100%;
    margin: 0;
  }
}

.proj-break {
  margin: 2rem auto 2rem;
  border-width: 1px;
  border-color: lighten($rose, 6%);
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Project Description
.proj-desc-a {
  margin: 1.25rem auto 2rem;
  background-image: linear-gradient(to bottom, darken($blue, 42%), darken($blue, 41.1%));
  border-radius: 10px;
  border-top-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-top-color: darken($blue, 36%);
  border-left-color: darken($blue, 36.5%);
  border-right-color: darken($blue, 37%);
  border-bottom-color: darken($blue, 38%);

  &__title {
    font-family: $Josefin;
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 1.75rem;
    background: darken($blue, 36%);
    margin-bottom: -8px;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__subtitle {
    margin-top: 10px;
    color: lighten($yellow, 4%);
    font-size: 1em;
    font-style: italic;
  }
  
  &__list {
    color: lighten($blue, 40%);
    margin-left: 16px;
    & li {
      list-style-type: square;
    }
  }

  &__button-link {
    color: white;
    &:hover{
      color: white;
    }
  }

  &__demo-button {
    font-family: $Josefin;
    font-weight: bold;
    background: transparent;
    border-color: $blue;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($blue, 10%);
      transform: scale(1.05);
      text-shadow: 1px 2px darken($blue, 50%);
    }
  }

  &__git-button {
    font-family: $Josefin;
    font-weight: bold;
    background: transparent;
    border-color: $git-violet;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($git-violet, 10%);
      transform: scale(1.05);
      text-shadow: 1px 2px darken($git-violet, 50%);
    }
  }
  
  &__code-icon {
    margin-right: 12px;
  }
}

.proj-desc-b {
  margin: 1.25rem auto 2rem;
  background-image: linear-gradient(to bottom, darken($rose, 76%), darken($rose, 78%));
  border-radius: 10px;
  border-top-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-top-color: darken($rose, 72.25%);
  border-left-color: darken($rose, 72.25%);
  border-right-color: darken($rose, 73%);
  border-bottom-color: darken($rose, 74%);

  &__title {
    background: darken($rose, 72.25%);
    padding: 6px;
    font-family: $Josefin;
    font-weight: bold;
    font-size: 2rem;
  }

  &__subtitle {
    color: lighten($yellow, 4%);
    font-size: 1em;
    font-style: italic;
  }
  
  &__list {
    color: lighten($rose, 6%);
    margin-left: 16px;
    & li {
      list-style-type: square;
    }
  }

  &__button-link {
    color: white;
    &:hover{
      color: white;
    }
  }

  &__demo-button {
    font-family: $Josefin;
    font-weight: bold;
    background: transparent;
    border-color: $blue;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($blue, 10%);
      border-color: $blue;
      transform: scale(1.05);
      text-shadow: 1px 2px darken($blue, 50%);
    }
  }

  &__git-button {
    font-family: $Josefin;
    font-weight: bold;
    background: transparent;
    border-color: $git-violet;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: lighten($git-violet, 10%);
      border-color: $git-violet;
      transform: scale(1.05);
      text-shadow: 1px 2px darken($git-violet, 50%);
    }
  }
  
  &__code-icon {
    margin-right: 12px;
  }

  &__blog-button {
    font-family: $Josefin;
    font-weight: bold;
    background: transparent;
    border-color: darken($rose, 10%);
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: darken($rose, 8%);
      border-color: $rose;
      transform: scale(1.05);
      text-shadow: 1px 2px darken($rose, 50%);
    }
  }

  &__yt-button {
    font-family: $Josefin;
    font-weight: bold;
    background: transparent;
    border-color: #ff0000;
    border-width: 2px;
    margin: 1rem 1rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: darken(#ff0000, 8%);
      border-color: #ff0000;
      transform: scale(1.05);
      text-shadow: 1px 2px darken(#ff0000, 50%);
    }
  }
}