.sidecard {
  margin: 2rem auto 2rem;
  background-image: linear-gradient(to bottom, darken($rose, 76%), darken($rose, 78%));
  border-radius: 10px;
  border-top-width: 8px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-top-color: darken($rose, 72.25%);
  border-left-color: darken($rose, 72.25%);
  border-right-color: darken($rose, 73%);
  border-bottom-color: darken($rose, 74%);
  &__body {
    margin-top: -16px;
  }
  
  &__title {
    color: lighten($yellow, 4%);
    font-size: 1.25rem;
  }

  &__querycard {
    background-image: linear-gradient(to bottom, darken($blue, 47%), darken($blue, 45%));
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    border-radius: 16px;
    border-top-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-top-color: darken($blue, 42%);
    border-left-color: darken($blue, 42%);
    border-right-color: darken($blue, 43%);
    border-bottom-color: darken($blue, 44%);
    transition: all 0.3s;
    &:hover{
      transform: scale(1.01);
    }
  }

  &__img {
    border-radius: 4px;
  }

  &__link {
    color: $blue;
    transition: color 0.5s ease;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
      color: lighten($blue, 18%);
    }
  }
}