.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}


.sidecard {
  border-width: 0px;
  &__body {
    background-color: darken($blue, 42%);
  }
  
  &__title {
    color: $yellow;
  }

  &__querycard {
    background: darken($blue, 42%);
    border-radius: 4px;
    margin-bottom: 1.5rem;
  }

  &__minibody{
    transition: color 0.5s ease;
    &:hover {
    color: white;
    }
  }

  &__img {
    border-radius: 4px;
  }

  &__link {
    color: $blue;
  }
}