.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}

.sidecard {
  border-width: 0px;
  &__body {
    background-image: linear-gradient(to bottom, darken($blue, 20%), darken($blue, 10%));
    margin-top: -16px;
  }
  
  &__title {
    color: lighten($yellow, 4%);
    background-image: linear-gradient(to bottom, darken($rose, 12%), darken($rose, 10%));
    font-size: 1.2rem;
  }

  &__querycard {
    background-image: linear-gradient(to bottom, darken($blue, 42%), darken($blue, 38%));
    border-radius: 4px;
    margin-bottom: 1.5rem;
    box-shadow: 4px 4px darken($blue, 40%);
  }

  &__minibody {
    transition: color 0.5s ease;
    &:hover {
    color: white;
    }
  }

  &__img {
    border-radius: 4px;
  }

  &__link {
    color: $blue;
  }
}