// Single-Post template Page
.single-post-card {
  border-width: 0px;

  &__title {
    color: $yellow;
  }

  &__body {
    color: $rose;
    background-color: lighten($dark-gray, 1%);
  }

  &__info {
    color: $yellow !important;
    margin-bottom: 1.5rem;
  }

  &__text {
    color: lighten($rose, 18%);
    font-size: 18px;
    font-family: $Josefin;
  }
}

.nav-item {
  list-style-type: none;
}

.blog-back-btn {
  margin: 1rem;
}

.single-post-header {
  color: $rose;
}

.share-header {
  color: $yellow;
}