// Single-Post template Page
.single-post-card {
  border-width: 0px;

  &__title {
    color: $yellow;
  }

  &__body {
    color: $rose;
    background-color: lighten($dark-gray, 1%);
  }

  &__info {
    color: $yellow !important;
    margin-bottom: 1.5rem;
  }

  &__text {
    color: lighten($rose, 18%);
    font-size: 18px;
    font-family: $Josefin;
    & a {
      color: $blue;
    }
  }
}

em {
  color: $yellow;
}

strong {
  color: $rose;
}

code {
  //color: lighten($dark-gray, 50%);
  //color: greenyellow;
  color: darken($rose, 15%);
}

pre {
  padding: 1.5rem;
  color: lighten($blue, 24%);
  border-style: double;
  border-left-width: 4px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: lighten($blue, 24%);
  display: block;
  background: darken($blue, 46%);
}

.nav-item {
  list-style-type: none;
}

.blog-back-btn {
  margin: 1rem;

    color: $blue;
    border-color: $blue;
    background: transparent;
    border-radius: 2px;
    transition: color 0.5s ease-in-out, all 0.3s ease-in-out;
    &:hover {
      border-color: $blue;
      background-color: $blue;
      color: white
    }
  
}

.single-post-header {
  color: $rose;
}

.share-header {
  color: $yellow;
}