.social-buttons {
  margin-top: 4px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px darken($blue, 50%);

  .social-links {
    text-align: center;
    list-style: none;
    padding: 0;
    ul.social-links-list {
      li {
        margin: 12px;
        display: inline-block;

        a {
          color: darken(white, 6%);
          transition: color 0.5s ease;
          &.github:hover {
            color: $git-violet;
            transform: scale(1.0125);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
            transform: scale(1.0125);
          }
        }
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}
