.social-buttons {
  margin-top: 4px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px darken($blue, 50%);

  .social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin: 12px;
        display: inline-block;

        a {
          color: darken($yellow, 6%);
          transition: color 0.5s ease;
          &.github:hover {
            color: $git-violet;
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.reddit:hover {
            color: #ff4500;
          }
        }
      }
    }
  }
}
