@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merienda');

$Lato: 'Lato', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Merienda: 'Merienda', cursive;


/* Colors:
#FFE57C -- yellow
#33AFC4 -- blue
#0C0203 -- a tinted black
#FEB3A9 -- rosado
#6e5494 -- github purple
*/

$dark-gray: #0C0203;
$white: white;
$rose: #feb3a9; 
$blue: #33AFC4;
$git-violet: #6e5494;
$yellow: #FFE57C;

$hero-background: url(../images/hero-background.jpg);

$break-small: 320px;
$break-large: 1024px;
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}