@import url('https://fonts.googleapis.com/css?family=Lato');

$site-font: 'Lato', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
/* Colors:
#FFE57C -- yellow
#33AFC4 -- blue
#0C0203 -- a tinted black
#FEB3A9 -- rosado
*/