// Bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './variables';
@import './base';
@import './footer';
@import './card';
@import './links';
@import './sidebar';


// Index Page
.container-fluid {
  background-color: lighten($dark-gray, 1%);
}
.page-header {
  color: $rose;
}

.index-skills {
  color: $yellow;
  font-family: $Roboto;
}

.paul-pic {
    display: block;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.about-me {
  color: $rose;
  font-size: 1.25rem;
  text-align: center;
}

// Projects Page
.container-card {
  background-color: darken($blue, 34%);
}

.proj-img {
  border-width: 0px;
  margin: 1rem;
  box-shadow: 4px 8px darken($blue, 40%);

  &__img {
    border-radius: 4px;
    display: flex;
  }
}

.proj-desc {
  border-radius: 0px;
  background-color: darken($blue, 24%);
  margin: 1rem;
  box-shadow: 4px 8px darken($blue, 40%);

  &__body {
    color: $blue;
  }

  &__title {
    color: lighten($rose, 8%);
    font-size: 2.25rem;
    text-shadow: 4px 4px darken($blue, 35%);
  }
  
  &__subtitle {
    color: lighten($yellow, 15%);
    font-size: 1.25rem;
  }
  
  &__list {
    color: lighten($blue, 30%);
    list-style-type: square;
    margin-left: 10px;
  }

  &__demo-button {
    background-color: $blue;
    box-shadow: 4px 8px darken($blue, 40%);
    margin: 12px;
    display: inline-block;
    &:hover {
      background-color: lighten($blue, 10%);
    }
  }

  &__git-button {
    background-color: $git-violet;
    box-shadow: 4px 8px darken($blue, 40%);
    margin: 12px;
    display: inline-block;
    &:hover {
      background-color: lighten($git-violet, 10%);
    }
  }
}


// Project Modals
.proj-modal {
  background-color: $rose;
  width: 100% !important;
}

.proj-card-button {
  background-color: $blue;
  box-shadow: 4px 8px darken($blue, 40%);
  margin-left: 1rem;
  display: inline-block;

  &:hover {
    background-color: lighten($blue, 10%);
  }
}


// Blog Page
.post-card {
  border-width: 0;

  &__body {
    background-color: lighten($dark-gray, 1%);
  }
  
  &__post-links{
    color: $blue;
  }

  &__info {
    color: $yellow;
  }

  &__text {
    color: $rose;
  }
}

.btn-outline {
  color: $blue;
  border-color: $blue;
  border-radius: 2px;
}

.btn-outline:hover {
  border-color: $blue;
  background-color: $blue;
  color: white;
}

// Single-Post template Page
.single-post-card {
  border-width: 0px;

  &__title {
    color: $yellow;
  }

  &__body {
    color: $rose;
    background-color: lighten($dark-gray, 1%);
  }

  &__info {
    color: $yellow !important;
    margin-bottom: 1.5rem;
  }

  &__text {
    color: $rose;
  }
}

.share-header {
  color: $yellow;
}

// Sidebar
.sidecard {
  border-width: 0px;
  &__body {
    background-color: darken($blue, 42%);
  }
  
  &__title {
    color: $yellow;
  }

  &__querycard {
    background: darken($blue, 42%);
    border-radius: 4px;
    margin-bottom: 1.5rem;
  }

  &__minibody{
    transition: color 0.5s ease;
    &:hover {
    color: white;
    }
  }

  &__img {
    border-radius: 4px;
  }

  &__link {
    color: $blue;
  }
}

// Contact Page