// Bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './variables';
@import './base';
@import './footer';
@import './card';
@import './links';
@import './sidebar';

.page-header {
  color: $rose;
}

.index-skills {
  color: $yellow;
  font-family: $Roboto;
}

.paul-pic {
    display: block;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.about-me {
  color: $rose;
  font-size: 1.25rem;
  text-align: center;
}

// Projects Page
.project {
  background: $dark-gray;
  &__title {
    font-size: 2rem;
    color: $yellow;
  }
  &__desc {
    color: $rose;
  }
}
.page-title {
  color: $yellow;
}

// Blog Page
.post-card {
  border-width: 0;

  &__body {
    background-color: $dark-gray;
  }
  
  &__post-links{
    color: $blue;
  }

  &__info {
    color: $yellow;
  }

  &__text {
    color: $rose;
  }
}

.btn-outline {
  color: $blue;
  border-color: $blue;
  border-radius: 2px;
}

.btn-outline:hover {
  border-color: $blue;
  background-color: $blue;
  color: white;
}

// Contact Page
