// Bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import "~video-react/styles/scss/video-react";

@import './variables';
@import './base';
@import './social';
@import './card';
@import './links';
@import './sidebar';

@import './blog';
@import './single-post';
@import './about';
@import './projects';
@import './contact';
@import './success';


// Index Page
.hero-background-0 {
  background: url(../images/hero-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  opacity: 0.12;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.hero-background-1 {
  background-image: linear-gradient(to bottom, darken($blue, 32%), lighten($dark-gray, 3%));
  background-size: cover;
  opacity: 0.4;
  height: 100%;
  margin-top: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

// Applies to most pages
.page-header {
  color: $rose;
}

.index-intro {
  background: rgba($blue, 0.001);
  margin-top: 7rem;
  &__page-header {
    font-family: 'Merienda', cursive;
    color: $yellow;
    font-size: 3rem;
  }

  &__profession {
    color: $rose;
    font-size: 1.25rem;
  }

  &__button {
    background-image: linear-gradient(to right, darken($blue, 15%), darken($blue, 5%));
    display: block;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 8px darken($blue, 50%);
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    color: darken($white, 12%);
    transition: color 0.5s ease;
    &:hover {
      color: white;
      font-weight: bold;
    }
  }
}